trabajoPractico_temas_8_12/.vscode
trabajoPractico_temas_8_12/M-30-HD
trabajoPractico_temas_8_12/mog2
trabajoPractico_temas_8_12/tracking
trabajoPractico_temas_8_12/flujo.py
trabajoPractico_temas_8_12/seguir.py
trabajoPractico_temas_8_12/zuzen.mp4